.green383 {
  background-color: #94CE08;
}

.second-navbar {
  margin-top: 40px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.desk {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.fader.ng-enter {
  opacity: 0;
}        /* starting animations for enter */
.fader.ng-enter-active {
  opacity: 1;
} /* terminal animations for enter */
.fader.ng-leave {
  opacity: 1;
}        /* starting animations for leave */
.fader.ng-leave-active {
  opacity: 0;
} /* terminal animations for leave */
