$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$imagesFolder: "../images/";
$bannersFolder: "../images/banners/";
$blue: #428bca;

@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400);
@import 'variables.scss';
@import 'mixins.scss';
@import 'helpers.scss';

[ng-src]:not([src]) {
  opacity: 0;
}

h1 {
  font-size: 1.125em;
}

h5 {
  font-size: 1.142857143em;
}

.alpha5 {
  opacity: .5;
}

.generic-button {
  @include generic-button;
}

.full-width {
  width: 100%;
}

html, body {
  margin: 0px;
}

body {
  background-color: #eeeeee;
}

.fullbg {
  background: url($imagesFolder + "bg.png") no-repeat top left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: #394367;
  text-decoration: underline;
}

a:hover {
  color: red;
}

.prediction-icon {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.navbar-top {
  height: 50px;
  min-height:40px;
  background-color: #EEEEEE;
  width: 100%;
  color: #001C53;
}

.player {
  margin: 10px 0 0 0px;
  font-size: 12px;
  font-weight: 200;
  .menu-username {
    margin-right: 20px;
  }
}

.logo {
  margin: 10px 0 0 0px;
  font-size: 1.0em;
  font-weight: 200;
}

.profilePic {
  height: 30px;
  position: relative;
  top: -1px;
  margin-right: 7px;
  border: 1px #262F58 solid;
}

.buttons {
  text-align: center;

  .selected {
    border-bottom: solid 5px #001E54;
    font-weight: bold;
  }

  .menuButton {
    @include transitionEase(.2s);
    margin-top: 16px;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 12px;
    width: 110px;
    height: 34px;
    text-transform: uppercase;

    a {
      color: #001E54;
      text-decoration: none;
    }
  }

  .menuButton:hover {
    border-bottom: solid 5px #001E54;
    font-weight: bold;
  }
}

#profileLink{
    color: #727272;
}

.name{
    width: 48%;
    float: left;
    margin-right: 5px;
}

.desk .userinfo {
    margin-left: 10px;
}

.desk .userinfo h2{
    margin-top: 15px;
    margin-bottom: 0px;
}

.fader.ng-enter, .fader.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:1s linear all;
}

.splash-screen{
  width: 1182px;
  .banner{
    float: left;
  }
  .logo-splash{
    margin-left: 231px;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .login-box {
    float: right;
    padding: 30px;
    widows: 112px;
    background-color: #f8f5f7;
    width: 310px;
    height: 420px;

    .facebook-button {
      @include border-radius(4px);
      background: #5785b7 no-repeat url($imagesFolder + "facebook-logo-letter.png");
      background-position: 6px 4px;
      border: none;
      color: #ffffff;
      font-size: 12px;
      height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    
    label {
      font-weight: normal;
    }

    input[type=text], input[type=password]{
      width: 100%;
      height: 30px;
      padding: 14px;
      @include border-radius(1px);
      @include generic-input();
    }

    h2{
      color: #374466;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  .password-box {
    float: right;
    padding: 30px;
    widows: 112px;
    background-color: #f8f5f7;
    width: 310px;
    height: 420px;

    .facebook-button {
      @include border-radius(4px);
      background: #5785b7 no-repeat url($imagesFolder + "facebook-logo-letter.png");
      background-position: 6px 4px;
      border: none;
      color: #ffffff;
      font-size: 12px;
      height: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    label {
      font-weight: normal;
    }

    input[type=text], input[type=password]{
      width: 100%;
      height: 30px;
      padding: 14px;
      @include border-radius(1px);
      @include generic-input();
    }

    h2{
      color: #374466;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 20px;

      &.success {
        color: $blue;
      }
    }


  }
}

.or {
  margin: auto;
  text-align: center;
  padding-bottom: 7px;

  div {
    border-bottom: 1px #f0eef0 solid;
    width: 100px;
    position: relative;
    top: 9px;
    padding-bottom: 3px;
  }
}

//Boxes
.box-square {
  @include box-attr;
  @include white-box-bg;
  min-height: 320px;
  width: 458px;
}

.box-badge{
  @include box-attr;
  min-height: 320px;
  width: 458px;

  li,ul{
    min-height:320px;
    width:458px;
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .rn-carousel-indicator{
    background-color: transparent;

  }

}


.box-half{
  @include box-attr;
  @include white-box-bg;
  width: 458px;
}

.box-no-bg {
  @include no-box-bg;
}
//Boxes
.blue-box-square {
  @include box-attr;
  @include blue-box-bg;
  min-height: 332px;
  width: 458px;
}

.box-left{
  margin-right: 7px;
  float: left;
}

.brand-banner {

}

.box-right{
  margin-left: 7px;
  float: right;
}

.box-full {
  @include box-attr;
  @include white-box-bg;
  width: 100%;
  float: left;
}

//profile data
.profile-box {
  margin-top: 22px;

  .profile-pic {
    width: 174px;
    overflow: hidden;
    border: solid 2px #dddcdd;
    float: left;
    margin-left: 25px;

    img {
      margin: 5px;
      width: 160px;
      border: 4px solid #3a4366;
    }
  }

  .user-profile-info {
    float: left;
    margin: 32px 0px 0px 22px;

    .label-level {
      background: #e64c65;
      font-weight: normal !important;
    }

    .general-league{
      color: #e64c65;
      font-size: 12px;
    }
    h2 {
      color: #00004c;
      font-family: 'Montserrat';
      font-size: 18px;
      margin-top: 8px;
      margin-bottom: 0px;
      font-weight: bold;
    }

    .username{
      font-style: italic;
    }
  }

}

.resume {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;

  border-top: 3px solid #fbab24;

  .leagues {
    border-top: 3px solid #e5164b;
  }

  .points {
    border-top: 3px solid #000048;
  }

  .badges {
    border-top: 3px solid #fbab24;
  }

  div {
    text-align: center;
    width: 32%;
    float: left;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 6px;
    color: #00004c;
    position: relative;
    top: -3px;
  }
}


.results {
  color: #00004c;
  border-top: 2px solid #f0f0f1;
  width: 100%;
  margin-bottom: 10px;
  line-height: 2.2em;

  .country{
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: bold;
    padding: 5px;
  }

  .circle-white {

    color: #ffffff;
    background-color: #384263;
    @include border-radius(50%);
    padding: 3px 7px;
  }

  .onepx-offset{
    position: relative;
    top: 1px;
  }

  .circle-green {
    color: #1ef200;
    background-color: #384263;
    @include border-radius(50%);
    padding: 3px 7px;
  }

  .circle-red {
    color: #fd0300;
    background-color: #384263;
    @include border-radius(50%);
    padding: 3px 7px;
  }
}

.flag-small {
  width:25px;
  height: 17px;
}

.flag-full {
  width:60.3px;
  height: 100%;
}

.related-results {
  font-size: 2em;
  line-height: 1.3em;
  background: rgba(238,238,238,1);
  position: absolute;
  right: 0;
  height: 41px;
  display: none;
  width: 55%;
  margin-top: -20px;
  z-index: 1;
  text-align: center;
  color: $dark-blue;

  &.active{
    width: 55%;
    display: block;
  }
}

.profile-leaderboard {
  color: $dark-blue;
  border-top: 2px solid #f0f0f1;
  width: 100%;
  line-height: 2.2em;
  margin-bottom: 13px;
  @include box-sizing;

  table {
    table-layout: fixed;
  }

  td{

    height:40px;
    vertical-align: middle;
    &:first-child {
      padding-left: 2%;
    }

    &.more {
      width: 7%;
      text-align: center;
    }
  }

  

  h4 {
    color: #00004c;
    font-size: 1em;
    font-style: bold;
    opacity: .5;

  }
  span {

    &.circle {
      float:left;
      color: white;
      width: 38px;
      height: 25px; 
      text-align: center;   
      @include border-radius(45%);  
    }

    &.circle-grey {
      line-height: 1.5em;
      background-color: $light-grey;
      padding: 3px;
    }
    
    &.circle-red {
      font-size: 0.7em;
      line-height: 2.7em;
      background-color: $light-red;
      @include border-radius(45%);
    }
    
    &.blue-text {
      line-height: 2.8em;
    }

    &.red-text {
      color: $light-red;
      text-align: right;
      line-height: 2.8em;
    }

    &#leaderboard-result {
      cursor: pointer;
    }


  }
}


.line {
  padding-left: 10px;
  width: 100%;
  height: 31px;
}

.grey-line {
  background: #dddddd;
}

.grey-points {
  font-size: 16px;
  color: #ffffff;
  background: gray;
  @include border-radius(34%);
  font-family: 'Open Sans';
  padding: 1px 8px 2px 2px;
  opacity: .5;
}

.grey-points:hover{
  opacity: 1;
}

.red-points:hover {
  opacity: 1;
}
.red-points {
  font-size: 16px;
  color: #ffffff;
  background: #fd0600;
  @include border-radius(34%);
  font-family: 'Open Sans';
  padding: 1px 8px 2px 2px;
  opacity: .3;
}

.home-leaderboard{
  margin: 0;
  border-top: 2px solid #e1e1e1;
  .step{
    border-right: 2px solid #e1e1e1;
    width: 165px;
    height: 80px;
    padding: 5px;
    float: left;

    .data {
      float: left;
      margin-left: 15px;
    }

    a {
      font-style: italic;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
    .profile-pic-leaderboards {
      height: 35px;
      position: relative;
      top: -1px;
      margin-top: 16px;
      margin-left: 10px;
      border: 1px #262F58 solid;
      float: left;
    }
  }
}

.quick-prediction {
  .right-team {
    text-align: right;
  }
}

.no-padding {
  padding: 0 !important;
}

.box-league-info {
  overflow: visible;

  .box-league-info__main-league {
    border-left: 5px solid $dark-blue;
  }
  .box-league-info__custom-league {
    padding-left: 11px;
  }
  .box-league-info__table{
    overflow: hidden;
    max-height: 90px;

  }

  .box-league-info__badge{
    margin-top: -30px;
  }


  .box-league-info__title {
    color: #394367;
    opacity: 0.8;
  }

  .box-league-info__description {
    font-size: 0.85em;
    color: #00004c;
    opacity: 0.5;
    margin-top: -30px;
  }

  .table-expand__icon {
    position: absolute;
    z-index: 2;
    bottom: -5px;
    text-align: center;
    width: 100%;
  }

  .expanded{
    max-height: 100% !important;
  }
}

.box-floating {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0px 14px 20px -8px black;
  border-top: 0;
  background: #f0f0f0 url("../images/box-bg.png") no-repeat top left;
  z-index: 3;

  .btn-next {
    width: 100%;
    background: $red;
    color: white;
  }
}

.box-ranking {
  .box-ranking__title {
    display: inline-block;
    margin: 1.0625em;
    margin-right: 0;
    margin-bottom: 0.5em;
    color: #394367;
    opacity: 0.8;
  }

  .box-ranking__description {
    font-size: 0.85em;
    margin-left: 1.4625em;
    color: #00004c;
    opacity: 0.5;
  }

  .box-ranking__base {
    vertical-align: middle;
    text-align: center;
    border-left: 10px solid transparent;
  }

  .box-ranking__add {
    img{
      margin-left: 0.4em;
      margin-right: 1em;
    }
  }

  .ranking__mLBanner{
    background: url($bannersFolder + "myLeaderboard.png") no-repeat center;
    color: white;
  }

  .ranking__lBanner{
    background: url($bannersFolder + "leaderboard.png") no-repeat center;
    color: white;
  }

  .ranking__first{
    border-left: 10px solid $dark-blue;
  }

  .ranking__second{
    border-left: 10px solid $dark-blue-medium;
  }

  .ranking__third{
    border-left: 10px solid $dark-blue-light;
  }

  .ranking__me{
    border-left: 10px solid $red;
  }

  table{
    margin-top: -35px;
  }
}


.box-invitations{
  min-height:90px;
  display: table;
  width:100%;

  .box-invitations--cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .media > a {
    padding-top: 2px;
    img {
      margin-right: 1px;
      margin-bottom: 6px;
    }
  }

  .box-invitations__arrow {
    width: 14%;
  }

  .box-invitations__invite {
    width: 70%;
    padding-left: 1%;
    vertical-align: top;
    border-right: 2px solid $light-grey;

    &.no-invite {
      width: 100%;
      text-align: center;
      border:none;
      padding: 3% 0 0 15%;
    }

    .box-invitations__description {
      text-align: left;
      font-size: 0.85em;
      color: #00004c;
      opacity: 0.5;
    }
  }
  .box-invitations__options {
    width: 10%;
    padding-left: 2%;
  }
}

.username {
  text-decoration: none;
  font-style: italic;
  color:$dark-blue;
  font-size: 1em;
  .at {
    font-size: 1.3em;
    display: inline-block;
  }
}

table {
  th.tenth,td.tenth { width: 10% }
  th.quarter,td.quarter { width: 25% }
  th.half,td.half { width: 50% }
  th.full,td.full { width: 100% }

}


.center-content {
  text-align: center !important;
}

.alert-dark-blue {
  background: $dark-blue;
  color: white;
}.calendar {
  overflow: auto;
  .group {
    font-size: 12px;
    color: #9099b7;
    padding-left: 10px;
    padding-bottom: 10px;
  }

  .predictions-panel {
    height: 180px;
    overflow: auto;
  }

  .prediction-line {
  }

  .prediction {
    background-color: #dddddd;
    float: left;
    height: 75px;
    width: 50%;
    padding-left: 4px;
    overflow: auto;
    position: relative;

    .predict-btn {
      cursor: pointer;
    }

    .controls {
      text-align: center;

      .sign {
        cursor: pointer;
        color: gray;
        font-size: 14px;
        font-weight: bold;
      }

      .score {
        font-family: 'Montserrat', sans-serif;
        background-color: #394264;
        color: #dddddd;
        @include border-radius(50%);
        display: inline-block;
        padding: 2px 7px;
        width: 26px;
        line-height: 22px;
        margin-top: 13px;
        margin-bottom: 7px;
      }
    }

    .team-right {
      right: 5px;
      top: 12px;
    }

    .team-left {
      left: 5px;
      top: 12px;
    }

    .team {
      position: absolute;
      font-weight: bold;
      margin: 6px;
      .flag-left {
        margin-right: 6px;
      }
      .flag-right {
        margin-left: 6px;
      }
    }

    .match-info {
      color: #394264;
      font-size: 12px;
      text-align: center;
    }
  }

  .odd {
    background-color: #e9e9e9 !important;
  }

  .prediction:hover {
    background-image: url($imagesFolder + "4pxbg.png");
    background-repeat: repeat-y;
  }

  .group-buttons {
    width: 600px;
    height: 70px;
    margin: auto;
    overflow: auto;

    .letter {
      @include transitionEase(.2s);
      cursor: pointer;
      color: #394264;
      background-color: #dddddd;
      @include border-radius(50%);
      padding: 8px 11px;
      margin-left: 20px;
      margin-right: 19px;
      position: relative;
      top: 27px;
    }

    .selected-group{
      color: #eeeeee !important;
      background-color: #394264  !important;
    }
  }

}
