//all mixins go in this file.

@mixin box-sizing {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin transitionEase($duration){
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin white-box-bg {
  background: #f0f0f0 url($imagesFolder + "box-bg.png") no-repeat top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@mixin blue-box-bg {
  background: #26355b url($imagesFolder + "blue-box-bg.png") no-repeat top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@mixin no-box-bg {
  background: #f0f0f0;
}

@mixin box-attr {
  background-size: cover;
  margin-top: 15px;
  overflow: auto;
  position: relative;

  .right-corner {
    width: 50%;
    text-align: right;
    float: right;
    color: #00004c;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 15px;
    opacity: .5;
    font-weight: bold;
  }

  .right-corner-white{
    width: 50%;
    text-align: right;
    float: right;
    color: #f0f0f1;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 15px;
    opacity: .5;
    font-weight: bold;
  }

  .right-corner-button:hover {
    opacity: 1;
  }

  .box-header {
    padding: 10px;
    h1 {
      color: #00004c;
      font-family: 'Montserrat';
    }
    h2 {
      width: 70%;
      color: #00004c;
      font-family: 'Montserrat';
      font-size: 18px;
      text-transform: uppercase;
      margin: 5px 0px 5px 5px;
      font-weight: bold;
    }

    a {
      text-decoration: none;
    }
  }

  .box-header-white {
    padding: 10px;
    h2 {
      width: 70%;
      color: #f0f0f1;
      font-family: 'Montserrat';
      font-size: 18px;
      text-transform: uppercase;
      margin: 5px 0px 5px 5px;
      font-weight: bold;
    }

    a {
      text-decoration: none;
    }
  }

  .box-content {
    padding: 10px 10px 10px 10px;
    margin: 0;
    border-top: 2px solid #e1e1e1;
  }

  .box-content-white {
    padding: 10px 10px 10px 10px;
    margin: 0;
    color: #f0f0f1;
    border-top: 2px solid #f0f0f1;
  }


}
@mixin generic-input {
  border: 1px solid #ecebf0;
  background-color: #ffffff;
  margin-bottom: 10px;
}

@mixin generic-button {
  @include border-radius(4px);
  background-color: #394263;
  border: none;
  color: #dbddda;
  font-size: 12px;
  margin-top: 10px;
  height: 30px;

}