<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- todo: Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="angularjsJogaApp" class="ng-class: {fullbg: globalSettings.user}">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- Add your site or application content here -->
<div ng-show="globalSettings.user" class="navbar-top" ng-controller="MainCtrl">
    <div class="desk menu">
        <a class="logo pull-left" href="#/"><img src="images/WW2BA.png" alt="logo" width="31" height="31"/></a>

        <div class="player pull-right">
            <a class="menu-username" href="#/me" id="profileLink">{{globalSettings.user}}</a>
            <img ng-click="logout()" ng-src="http://graph.facebook.com/salsaparapizza/picture?height=40&width=40" alt="profile pic" class="img-circle profilePic"/>
        </div>

        <ul class="buttons">
            <li ng-class="{selected: isLocation('/')}" class="menuButton" id="homeButton"><a href="#/">Home</a></li>
            <li ng-class="{selected: isLocation('/calendar')}" class="menuButton" id="calendarButton"><a href="#/calendar">Calendar</a></li>
            <li  ng-class="{selected: isLocation('/ranking')}" class="menuButton active" id="rankingButton"><a href="#/ranking">Leagues</a></li>
            <li ng-class="{selected: isLocation('/me')}" class="menuButton" id="profileButton"><a href="#/me">Profile</a></li>
        </ul>
    </div>
</div>
<div class="alert alert-success fader" ng-if="notification">{{notification}}</div>
<div ng-view class="mainContent"></div>
<!-- build:js scripts/modules.js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-touch/angular-touch.min.js"></script>
<script src="bower_components/angular-carousel/dist/angular-carousel.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-retina/dist/angular-retina.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-ui-utils/ui-utils.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/async/lib/async.js"></script>
<script src="bower_components/moment/moment.js"></script>
<!-- endbuild -->

<script src="configuration.js"></script>
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/constants.js"></script>
<script src="scripts/helpers.js"></script>
<script src="scripts/app.js"></script>
<script src="scripts/providers.js"></script>
<script src="scripts/directives.js"></script>
<script src="scripts/translations.js"></script>
<!--controllers-->
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/calendar.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/me.js"></script>
<script src="scripts/controllers/profile.js"></script>
<script src="scripts/controllers/league.js"></script>
<script src="scripts/controllers/ranking.js"></script>
<script src="scripts/controllers/signup.js"></script>
<!-- endbuild -->
</body>
</html>
