<div ng-controller="CalendarCtrl" class="desk" ng-init="init()">
    <div class="box-full">

        <div class="box-header">
            <h2>Predictions</h2>
        </div>
        <div class="calendar">
            <div class="group">
                Group {{selectedGroup | getGroup}}
            </div>
            <div class="prediction-panel">
                    <div class="prediction" ng-class="{odd : $index==1 || $index==2 || $index==5}" ng-repeat="match in matchesForGroup">
                        <div class="controls">
                            <div ng-if="match.prediction && !match.played">
                                <span class="sign" ng-click="changePredictionCalendar(match.prediction.id, 0, 0)">-</span>
                                <span class="sign" ng-click="changePredictionCalendar(match.prediction.id, 1, 0)">+</span>
                                <span class="score">{{match.prediction.local_goals}}</span>
                                <span class="score">{{match.prediction.visitor_goals}}</span>
                                <span class="sign" ng-click="changePredictionCalendar(match.prediction.id, 0, 1)">-</span>
                                <span class="sign" ng-click="changePredictionCalendar(match.prediction.id, 1, 1)">+</span>
                            </div>
                            <div ng-if="!match.prediction">
                                <span class="score">-</span>
                                <span ng-click="createPrediction(match.id)" class="label label-success predict-btn">Predict</span>
                                <span class="score">-</span>
                            </div>
                        </div>
                        <div class="team team-left">
                            <img height="15" width="25" ng-src="images/flags/{{match.local_team.id}}.png" class="flag-left"/>
                            {{match.local_team.name}}
                        </div>
                        <div class="team team-right">
                            {{match.visitor_team.name}} <img height="15" width="25"  ng-src="images/flags/{{match.visitor_team.id}}.png" class="flag-right"/>
                        </div>
                        <div class="match-info">
                            <b>{{match.date | date:'MM/dd @ h:mma'}}</b> {{match.stadium}}
                        </div>
                    </div>
            </div>
            <div class="group-buttons">
                <span ng-class="{'selected-group': selectedGroup == 1}" class="letter" ng-click="selectGroups(1)">A</span>
                <span ng-class="{'selected-group': selectedGroup == 2}" class="letter" ng-click="selectGroups(2)">B</span>
                <span ng-class="{'selected-group': selectedGroup == 3}" class="letter" ng-click="selectGroups(3)">C</span>
                <span ng-class="{'selected-group': selectedGroup == 4}" class="letter" ng-click="selectGroups(4)">D</span>
                <span ng-class="{'selected-group': selectedGroup == 5}" class="letter" ng-click="selectGroups(5)">E</span>
                <span ng-class="{'selected-group': selectedGroup == 6}" class="letter" ng-click="selectGroups(6)">F</span>
                <span ng-class="{'selected-group': selectedGroup == 7}" class="letter" ng-click="selectGroups(7)">G</span>
                <span ng-class="{'selected-group': selectedGroup == 8}" class="letter"  ng-click="selectGroups(8)">H</span>
            </div>
        </div>
    </div>
</div>