<div ng-controller="LoginCtrl" class="splash-screen">
<div class="logo-splash">
        <img src="images/logo-splash.png" alt="logo"/>
    </div>
    <form class="form-signin" ng-submit="forgotPassword()">
        <div class="banner">
            <img src="images/banner.png" alt="banner"/>
        </div>
        <div class="password-box" >
            <div ng-show="messageSent">
            <img src="images/sentMail.png" alt="mail sent successfully" width="64px" />
            <h2 class="form-signin-heading success" >An email has been sent with the recovery instructions!</h2>
            </div>
            <div ng-hide="messageSent">
                <h2 class="form-signin-heading">Forgot your password?</h2>
                <input type="text" class="form-control" placeholder="Email" autofocus="" ng-model="email">
                <br/>
                <button class="generic-button full-width" type="submit">Submit</button>
                <br>
            </div>
            <a id="cancel" class="pull-right" href="#/">Go Back</a>
        </div>
    </form>
</div>