<div ng-controller="HomeCtrl" class="desk" ng-init="init()">
    <div class="box-full">
        <div class="right-corner"><a href="/#/ranking">Full Leaderboard</a></div>
        <div class="box-header">
            <h2>leaderboards</h2>
        </div>
        <div class="home-leaderboard">
            <div ng-repeat="box in leaderboard.league_info.users" class="step">
                <img ng-src="http://graph.facebook.com/{{box.uid}}/picture?height=40&width=40" class="img-circle profile-pic-leaderboards"/>
                <div class="data">
                    {{$index+1}}st
                    <br/>
                    <a>@{{box.username}}</a>
                    <br/>
                    {{box.user_settings.points}} Points
                </div>
            </div>
        </div>
    </div>
    <div class="box-half box-left" >
        <div class="right-corner">More</div>
        <div class="box-header">
            <h2>MY STATISTICS</h2>
        </div>
        <div class="box-content" style="padding:0px;">
            <img src="../images/statistics.jpg" alt="" style="width: 100%;">
        </div>
    </div>
    <div class="blue-box-square box-right">
        <div class="right-corner-white">Calendar</div>
        <div class="box-header-white">
            <h2>Quick predictions</h2>
        </div>
        <div class="box-content-white">
            <div class="quick-prediction"><div class="left-team pull-left">
                <div>SPA</div>
                <img src="images/shirt-spain.png" />
            </div>
            <div class="right-team pull-right">
                <div>ITA</div>
                <img src="images/shirt-white.png" />
            </div></div>
        </div>
    </div>

    <div class="box-half box-left">
        <div class="right-corner">Group Date</div>
        <div class="box-header">
            <h2>Recent Results</h2>
        </div>
        <table class="results">
            <tr class="line grey-line">
                <td class="country">SPA</td>
                <td><span class="circle-red">3</span></td>
                <td><span class="circle-green">1</span></td>
                <td class="country">ENG</td>
                <td><span class="grey-points">+24</span></td>
                <td><span class="circle-white alpha5">D</span></td>
                <td><span class="circle-white onepx-offset">+</span></td>
            </tr>
            <tr class="line">
                <td class="country">BRA</td>
                <td><span class="circle-red">2</span></td>
                <td><span class="circle-green">3</span></td>
                <td class="country">ITA</td>
                <td><span class="red-points">+24</span></td>
                <td><span class="circle-white alpha5">D</span></td>
                <td><span class="circle-white onepx-offset">+</span></td>
            </tr>
            <tr class="line grey-line">
                <td class="country">SPA</td>
                <td><span class="circle-green">4</span></td>
                <td><span class="circle-red">1</span></td>
                <td class="country">ENG</td>
                <td><span class="red-points">+24</span></td>
                <td><span class="circle-white alpha5">A</span></td>
                <td><span class="circle-white onepx-offset">+</span></td>
            </tr>
        </table>
    </div>
    <div class="box-half box-right">
        <img src="../images/brand-banner.png" alt="banner" class="brand-banner" width="458"/>
    </div>
</div>