<div class="desk" ng-controller="LeagueCtrl" ng-init="init()">
    <div class="box-full">
        <div class="box-header">
            <h1>{{league_info.name}}</h1>
        </div>
        <div class="box-content"><p>{{league_info.description}}</p>

        <p>
            Type your friends' email addresses or usernames separated by a comma.
        </p>

        <p ng-if="unexistentUsersNames.length > 0" class="fader">
            These users don' exist:
            <span class="red">{{unexistentUsersNames}}</span>
            <br/>
        </p>

        <p ng-if="unexistentUsersEmails.length > 0" class="fader">
            These emails are not registered. An email will be sent.
            <span class="green">{{unexistentUsersEmails}}</span>
        </p>


        <input class="form-control" ui-event="{keyup: 'checkInvites()'}" type="text" ng-model="invitesString"/>
        <button ng-click="invite" class="btn btn-warning">Invite</button></div>
    </div>
</div>