<div ng-controller="LeagueCtrl" class="desk" ng-init="init()">
    <div class="box-full">
        <div class="box-header">
            <h2>Update {{league_info.name}}</h2>
        </div>
        <div class="box-content">
            <form ng-submit="submitUpdate()">
                <div class="form-group">
                    <label for="name">Name for your league</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter name"
                           ng-model="league_info.name">
                </div>
                <div class="form-group">
                    <label for="description">Description for the league</label>
                    <input type="text" class="form-control" id="description" placeholder="Description"
                           ng-model="league_info.description">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>