<div ng-controller="LoginCtrl" ng-init="init()" class="splash-screen">
    <div class="logo-splash">
        <img src="images/logo-splash.png" alt="logo"/>
    </div>
    <form ng-submit="login()">
        <div class="banner">
            <img src="images/banner.png" alt="banner"/>
        </div>
        <div class="login-box">
            <h2>Welcome, player</h2>
            <button class="facebook-button full-width" ng-click="tryLoginWithFacebook()">
                Just enter with Facebook
            </button>
            <div class="or full-width">
                <div class="pull-left"></div>
                or
                <div class="pull-right"></div>
            </div>
            <input type="text" placeholder="Email" autofocus="" ng-model="username">
            <input type="password" placeholder="Password" ng-model="password">
                <span class="small"><input type="checkbox" value="remember-me"> Remember me
                    <a id="rememberPassword" href="#/forgot_password">forgot your password?</a>
                </span>
            <button class="generic-button full-width" type="submit">Sign in</button>
            <br/>
            <br/>
            <a id="register" href="#/signup">Or create your account with email</a>
        </div>
    </form>
</div>