<div ng-controller="MeCtrl" class="desk" ng-init="init()">

    <div class="box-square box-left">
        <div class="right-corner"><a href="/#">More</a></div>
        <div class="box-header">
            <h2>Resume stats</h2>
        </div>
        <div class="box-content">
            <div class="profile-box" ng-if="user">
                <div class="profile-pic img-circle">
                    <img class="img-circle"
                         src="../images/blank160.png"
                         ng-src="http://graph.facebook.com/{{user.uid}}/picture?height=160&width=160"
                         alt="fb"/>
                </div>
                <div class="user-profile-info">
                    <span class="rank"><b>30,207</b>th</span> <span class="general-league">/general ranking</span>

                    <h2>Ignacio Morales</h2>

                    <p class="username">@selaromi</p>
                    <span class="label label-level">level 7</span>

                </div>
            </div>
            <div class="resume">
                <div class="leagues">23 <span class="alpha5">leagues</span></div>
                <div class="points">23 <span class="alpha5">points</span></div>
                <div class="badges">23 <span class="alpha5">badges</span></div>
            </div>
        </div>
    </div>

    <div class="box-half box-left" >
        <div class="box-header">
            <h2>MY TIMELINE</h2>
        </div>
        <div class="box-content" style="padding:0px;">
            <img src="../images/timeline.jpg" alt="" style="width: 100%;">
        </div>
    </div>

    <div class="box-half box-left box-no-bg">
        <div class="right-corner "><a href="#ranking">More</a></div>
        <div class="box-header">
            <h2>LEADERBOARDS</h2>
        </div>
        <table class="profile-leaderboard">
            <tr class="line" ng-repeat="player in mainLeaderboard.league_info.users" ng-class-odd="'grey-line'">
                <td width="12%"><span class="circle  circle-grey">{{$index+1}}</span></td>
                <td width="7%"><img class="img-circle profilePic"
                                    ng-src="http://graph.facebook.com/{{player.uid}}/picture?height=40&width=40"
                         alt="fb"/></td>
                <td width="25%" ><span class="blue-text" >@{{player.username}}</span></td>
                <td width="7%"  ng-switch="player.change">
                    <img ng-switch-when="1" src="../images/up.png" />
                    <img ng-switch-when="-1" src="../images/down.png" />
                    <img ng-switch-default src="../images/equal.png" />
                </td>
                <td  width="25%"><img ng-src="http://m4.i.pbase.com/u38/world_images/medium/24960554.mulgflag.jpg" class="flag-small" /></td>
                <td class="pull-right"><span class="blue-text">{{player.user_settings.points}}&nbsp;&nbsp;Pts</span></td>
                <td class="more"><span id="leaderboard-result" >+</span></td>
                <td  width="0">
                    <div class="related-results">
                        <img src="http://m4.i.pbase.com/u38/world_images/medium/24960554.mulgflag.jpg" class="pull-left flag-full" /> 3 - 1
                        <img src="../images/spain-flag.png" class=" pull-right flag-full" />
                    </div>
                </td>


            </tr>
        </table>
    </div>

    <div class="box-half box-left">
        <div class="box-square box-right box-badge">
            <div class="right-corner">{{user.user_badges.length}}/17</div>
            <div class="box-header">
                <h2>My Badges</h2>
            </div>
            <ul rn-carousel rn-carousel-control rn-carousel-indicator class="image">
                <li ng-repeat="badge in user.user_badges" style="background-image:url('images/badges/{{ badge.id + 1 }}{{ badge.won }}.png') ;">

                </li>
            </ul>
            <!--<img src="../images/brand-banner.png" alt="banner" class="brand-banner" width="458"/>-->
        </div>
    </div>
</div>
