<div ng-controller="LoginCtrl" class="splash-screen">
    <div class="logo-splash">
        <img src="images/logo-splash.png" alt="logo"/>
    </div>
    <form class="form-signin" ng-submit="recoverPassword()">
        <div class="banner">
            <img src="images/banner.png" alt="banner"/>
        </div>
        <div class="password-box">

            <h2 class="form-signin-heading success" ng-show="passwordChangeSuccess">You have updated your password successfully! Let us take you back to the login page</h2>
            <div ng-hide="passwordChangeSuccess">
            <h2 class="form-signin-heading">Tell us your new password</h2>
            <input type="password" class="form-control" placeholder="new password" autofocus="" ng-model="newPassword">
                <br/>
                <button class="generic-button full-width" type="submit">Submit</button></div>
        </div>
    </form>
</div>