<div ng-controller="ProfileCtrl" class="desk" ng-init="init()">
    <div class="box-full">
        <div class="box-header">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
        </div>
        <div class="box-content">
            <div class="userpredictions">
                <h3>FIRST ROUND</h3>

                <div ng-repeat="prediction in user.predictions">
                    <div class="col-lg-4 match">
                        <div class="score"><span class="team red">{{prediction.match.local_team.name}}</span>
                            {{prediction.local_goals}} - {{prediction.visitor_goals}} <span class="team">{{prediction.match.visitor_team.name}}</span>
                        </div>
                <span class="time">
                    {{prediction.match.date | date:'yyyy-MM-dd HH:mm'}}
                </span>

                        <p>{{prediction.points}} pts.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
