<div ng-controller="RankingCtrl" class="desk" ng-init="init()" xmlns="http://www.w3.org/1999/html">


    <!--<a href="#/league/create" class="generic-button">-->
        <!--<button class="generic-button">Create your own league</button>-->
    <!--</a>-->

    <div class="box-half box-left box-league-info">
        <div ng-click="createNewLeague()" class="right-corner media btn-link">
            <img class="pull-right media-object" src="images/add-league.png" alt="Add new league">
            <div class="media-body">
                Create your own league
            </div>
        </div>
        <div class="box-header">
            <h2><a href="#/league/view/{{league.id}}">MY LEAGUES</a></h2>
        </div>
        <div class="box-content no-padding box-league-info__table" ng-class="{'expanded': boxLeagueInfoExpanded}">
            <table class="table table-hover" >
                <tr ng-click="setCurrentLeaderboard(league)" ng-repeat="league in leagues">
                    <td ng-show="$first" class="box-league-info__main-league">#</td>
                    <td ng-hide="$first" class="box-league-info__custom-league">{{$index}}</td>
                    <td>
                        <span>{{ league.name }}</span>
                    </td>
                    <td > {{league.users.length}} users &nbsp; <a class="username" href="#" ><span class="at">@</span>{{league.owner}} </a></td>
                </tr>
            </table>
            <div ng-click="expandBoxLeagueInfo()" class="table-expand__icon btn-link">
                <img src="images/expand-table.png"/>
            </div>
        </div>
        <div ng-show="createLeague" class="box-content box-floating " >
            <div ng-hide="createLeagueStep == 3 || existingLeague" class="progress progress-striped active">
                <div class="progress-bar"  role="progressbar" aria-valuenow="{{createLeagueProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{createLeagueProgress}}%">
                    <span class="sr-only">{{createLeagueProgress}}% Complete</span>
                </div>
            </div>
            <div ng-show="createLeagueStep == 1" id="create-league-info">
                <form ng-submit="submitCreate()">
                    <div class="form-group">
                        <label for="name">Name for your league</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter name"
                               ng-model="league_info.name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description for your league</label>
                        <input type="text" class="form-control" id="description" placeholder="Description"
                               ng-model="league_info.description">
                    </div>
                    <button type="submit" class="btn btn-default btn-next">Create my league!</button>
                </form>
            </div>
            <div ng-show="createLeagueStep == 2" id="create-league-invitations">
                <h1>League name: <i>{{ league_info.name }}</i></h1>
                <p>
                    Type your friends' email addresses or usernames separated by a comma.
                </p>

                <p ng-if="unexistentUsersNames.length > 0" class="fader">
                    These users don' exist:
                    <span class="red">{{unexistentUsersNames}}</span>
                    <br/>
                </p>

                <p ng-if="unexistentUsersEmails.length > 0" class="fader">
                    These emails are not registered. An email will be sent.
                    <span class="green">{{unexistentUsersEmails}}</span>
                </p>

                <br/>
                <input class="form-control" ui-event="{keyup: 'checkInvites()'}" type="text" ng-model="invitesString"/>
                <br/>
                <button ng-click="invite()" class="btn btn-default btn-next">Invite my friends!</button>
            </div>
            <div ng-show="createLeagueStep == 3" class="center-content" id="create-league-success">
                <div class="alert alert-info alert-dark-blue">
                    Congratulations, You've created a league!
                </div>
                <h5 class="box-league-info__title">{{ league_info.name }}</h5>
                <img class="box-league-info__badge" ng-src="images/badges/newLeagueBadge.png" alt="profile pic" />
                <p class="box-league-info__description">{{ league_info.description }}</p>
                <button ng-click="closeCreateLeague()" class="btn btn-default btn-next">Close</button>
            </div>
        </div>
    </div>

    <div class="box-half box-right">
        <div class="box-header">
        <h2>ALERTS</h2>
        </div>
        <div ng-switch="currentInvitation" class="box-content box-invitations">
            <div ng-switch-when="null">
                <div class="no-invite box-invitations__invite">
                    <div class="media">
                        <a class="pull-left " href="#">
                            <img ng-src="images/cards.png" alt="profile pic" />
                        </a>
                        <div class="media-body ">
                            <p class="box-invitations__description"> You don't have pending notifications<br/>
                            <b>Go and create a league!</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch-default>
                <div class="box-invitations--cell box-invitations__arrow ">
                    <img ng-click="prevInvitation(currentInvitation)" src="images/left.png" alt="Previous invitation"/>
                </div>
                <div class="box-invitations--cell box-invitations__invite">
                    <div class="media">
                        <a class="pull-left " href="#">
                            <img ng-show="currentInvitation.user.uid" ng-src="http://graph.facebook.com/{{currentInvitation.user.uid}}/picture?height=160&width=160" alt="profile pic" class="img-circle profilePic"/>
                            <img ng-hide="currentInvitation.user.uid" ng-src="http://lorempixel.com/160/160/" alt="profile pic" class="img-circle profilePic"/>
                        </a>
                        <div class="media-body box-invitations__description">
                            {{currentInvitation.user.username}} invited you to the '{{currentInvitation.name}}' League.
                        </div>
                    </div>
                </div>
                <div class="box-invitations--cell media box-invitations__options">
                        <img ng-click="respondInvitation(currentInvitation,1)" class="media-object btn-link" src="images/accept.png" alt="Accept Invitation">
                        <img ng-click="respondInvitation(currentInvitation,-1)" class="media-object btn-link" src="images/decline.png" alt="Decline Invitation">
                </div>
                <div class="box-invitations--cell box-invitations__arrow ">
                    <img ng-click="nextInvitation(currentInvitation)" src="images/right.png" alt="Next Invitation"/>
                </div>
            </div>
        </div>
    </div>
    <div class="box-half box-right">
        <!--<div class="right-corner">Edit</div>-->
        <div class="box-header">
            <h2><a href="#/league/view/{{league.id}}">MY LEADERBOARDS</a></h2>
        </div>
        <div class="box-content box-ranking no-padding">
            <h5 class="box-ranking__title">{{currentLeague.name}} </h5> <a class="username" href="#" ><span class="at">@</span>{{currentLeague.owner}}</a>
            <p class="box-ranking__description"> {{currentLeague.description}} </p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th  colspan="2"></th>
                    <th class="tenth">PTS</th>
                    <th class="tenth">PJ</th>
                    <th class="tenth">AV</th>
                </tr>
                </thead>
                <tbody >
                <tr ng-repeat="user in currentLeague.users" >
                    <td ng-class="{ranking__mLBanner: $index<3, ranking__first: $index==0,  ranking__second: $index==1,  ranking__third: $index==2, ranking__me: user.username==globalSettings.user }" class="tenth box-ranking__base">{{$index + 1}}</td>
                    <td><img ng-src="http://graph.facebook.com/{{user.uid}}/picture?height=160&width=160" alt="profile pic" class="img-circle profilePic"/>
                        <a class="username" href="#/user/{{user.id}}" ><span class="at">@</span>{{ user.username }}</span></a>
                        <img ng-show="user.username==globalSettings.user" src="images/me-red.png" />
                    </td>
                    <td>{{user.user_settings.points}}</td>
                    <td>{{user.user_settings.points}}</td>
                    <td>{{user.user_settings.points}}</td>
                </tr>
                <tr ng-show="currentLeague.owner==globalSettings.user">
                    <td  class="tenth box-ranking__base"></td>
                    <td ng-click="inviteToLeague()" class="box-ranking__add  btn-link">
                        <img class="pull-left media-object" src="images/add-league.png" alt="Add new players">
                        <div class="media-body">
                            <p class="username" >Add more players to the league!</p>
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-half box-left">
        <div class="box-header">
            <h2><a href="#/league/view/{{leagues[0].id}}">LEADERBOARDS</a></h2>
        </div>
        <div class="box-content box-ranking no-padding">
            <h5 class="box-ranking__title">{{leagues[0].name}} </h5> <a class="username" href="#" ><span class="at">@</span>{{leagues[0].owner}}</a>
            <p class="box-ranking__description"> {{leagues[0].description}} </p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th  colspan="2"></th>
                    <th class="tenth">PTS</th>
                    <th class="tenth">PJ</th>
                    <th class="tenth">AV</th>
                </tr>
                </thead>
                <tbody >
                <tr ng-repeat="user in leagues[0].users" class="animated flipInX">
                    <td ng-class="{ranking__lBanner: $index<3, ranking__first: $index==0,  ranking__second: $index==1,  ranking__third: $index==2, ranking__me: user.username==globalSettings.user }" class="tenth box-ranking__base">{{$index + 1}}</td>
                    <td><img ng-src="http://graph.facebook.com/{{user.uid}}/picture?height=160&width=160" alt="profile pic" class="img-circle profilePic"/>
                        <a class="username" href="#/user/{{user.id}}" ><span class="at">@</span>{{ user.username }}</span></a>
                        <img ng-show="user.username==globalSettings.user" src="images/me-red.png" />
                    </td>
                    <td>{{user.user_settings.points}}</td>
                    <td>{{user.user_settings.points}}</td>
                    <td>{{user.user_settings.points}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>