<div ng-controller="SignupCtrl" class="splash-screen">
    <div class="logo-splash">
        <img src="images/logo-splash.png" alt="logo"/>
    </div>
    <form class="form-register" ng-submit="signin()">
        <div class="banner">
            <img src="images/banner.png" alt="banner"/>
        </div>
        <div class="login-box">
            <h2>Welcome player! Enter the fray</h2>
            <input type="text" style="width:47%" ng-model="user.firstName" placeholder="Name" autofocus="">
            <input type="text" style="width:50%" ng-model="user.lastName" placeholder="Last name" autofocus="">
            <input type="text" ng-model="user.username" placeholder="username" autofocus="">
            <input type="text" ng-model="user.email" placeholder="Email" autofocus="">
            <input type="text" ng-model="user.mobile" placeholder="Phone (we won' call you)" autofocus="">
            <input type="password" ng-model="user.password" placeholder="Password" autofocus="">
            <input type="password" ng-model="user.password_confirmation"
                   placeholder="Re-type password, please">
            <span class="small">
                <input type="checkbox" ng-model="user.terms" value="remember-me"> I agree to the <a href="#">terms and
                conditions</a>
            </span>
            <button class="generic-button full-width" type="submit">Join the Game</button>
        </div>
    </form>
</div>